CONFIG_CPU_FREQ_STAT=y
CONFIG_F2FS_FS_COMPRESSION=y
# CONFIG_MODULE_SIG_FORCE is not set
CONFIG_NETFILTER_XT_TARGET_TCPOPTSTRIP=y
CONFIG_PSTORE=y
CONFIG_QCOM_RTB=y
CONFIG_TOUCHSCREEN_NT36XXXSPI=y
CONFIG_F2FS_FS_LZ4=y
CONFIG_F2FS_FS_LZO=y
CONFIG_F2FS_FS_ZSTD=y
CONFIG_LZ4_COMPRESS=y
# CONFIG_PSTORE_842_COMPRESS is not set
CONFIG_PSTORE_COMPRESS=y
CONFIG_PSTORE_COMPRESS_DEFAULT="deflate"
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_DEFLATE_COMPRESS=y
CONFIG_PSTORE_DEFLATE_COMPRESS_DEFAULT=y
# CONFIG_PSTORE_LZ4HC_COMPRESS is not set
# CONFIG_PSTORE_LZ4_COMPRESS is not set
# CONFIG_PSTORE_LZO_COMPRESS is not set
CONFIG_PSTORE_PMSG=y
CONFIG_PSTORE_RAM=y
# CONFIG_PSTORE_ZSTD_COMPRESS is not set
CONFIG_QCOM_RTB_SEPARATE_CPUS=y
CONFIG_REED_SOLOMON_ENC8=y
CONFIG_XXHASH=y
CONFIG_ZSTD_COMPRESS=y
CONFIG_ZSTD_DECOMPRESS=y
